body {
    background-color:hsl(0, 91%, 9%);
}

#profile {
    background-color: hsla(0, 82%, 25%, 0.952);
    max-width:30em;
    margin:150px auto 0px auto;
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
    border-radius:10px;
    border: 3px solid hsl(0, 74%, 5%);
}

img {
    max-width:20%;
    height:90px;
    border-radius:50%;
    border:2px solid hsl(0, 100%, 24%);
}

#name {
    font-size:20px;
    color:hsl(0, 91%, 9%);
}

#description {
    color:hsl(0, 91%, 9%);
}

.button {
    display: flex;
    justify-content:center;
    align-items:center;
    max-width:300px;
    height:50px;
    background-color:rgb(146, 0, 0);
    margin: 16px auto 16px auto;
    border-radius:10px;
    color:hsl(0, 91%, 9%);
    text-decoration: none;
    transition-property:all;
    transition-duration:2s;
}

.button:hover {
    background-color:rgb(224, 0, 0);
    color:hsl(0, 91%, 9%);
    transform:rotateY(360deg);
}

.attribution {
    color:rgb(146, 0, 0);
}